.booking {
    &__container {
        display: flex;
        flex-direction: column;
        margin: 16vh auto 20vh auto;
        position: relative;
        align-items: center;
        // padding-bottom: 25vw;
        min-height: 100vh;
        width: 97%;
    }

    &__title {
        margin: 0 0 2rem 0;
        // text-align: center;
        width: 100%;
        // font-size: 1.5rem;
        font-weight: normal;
    }

    &__row {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 1.5rem;
        width: 50vw;
    }

    &__col {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: .5rem;
        width: 50%;
    }

    &__data {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;

        &-label {
            margin: 0 0 .5vh 0;
            font-size: .8rem;
            font-weight: normal;
            width: 100%;
            color: #696869;
        }

        &-value {
            margin: 0;
            font-size: 1rem;
            // border: 1px solid lightgray;
            background-color: rgb(239, 239, 239);
            border-radius: .5rem;
            min-height: 1.3rem;
            cursor: default;
            width: -webkit-fill-available;
            font-weight: normal;
            padding: .6rem .8rem;
        }
    }

    &__various-dates {
        display: flex;
        flex-direction: column;
        width: fit-content;
        gap: 1rem;
        width: calc(100% - 1rem);
        margin: .5rem 0;

        &-item {
            border: 1px solid lightgray;
            border-radius: .5rem;
            padding: .5rem;

            &-label {
                margin: 0 -1rem -1rem 0;
            }
        }
    }

    &__date-time {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1rem;
    }

    &__btns {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-top: 2rem;
    }

    &__cta-btns {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-bottom: 2rem;
        align-self: flex-start;
        width: fit-content;
    }

    &__sidebar {
        margin: 7vh 0 0;
        position: fixed;
        right: 0;
        top: 0;
        background-color: white;
        height: 100vh;
        width: 20vw;
        border-left: 1px solid lightgray;
        padding: 2rem;

        &-title {
            font-size: 1.2rem;
            text-align: center;
        }

        &-col {
            display: flex;
            flex-direction: column;
            gap: .8rem;
        }

        &-timeselect {
            display: flex;
            flex-direction: row;
            align-items: center;
            // gap: 1rem;

            input {
                width: 50%;
            }
        }

        &-btns {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            align-items: center;
            margin-top: 2rem;
        }
    }

    &__sidebar-event {
        margin: 7vh 0 0;
        position: fixed;
        right: 0;
        top: 0;
        background-color: white;
        min-height: 120vh;
        width: 38vw;
        border-left: 1px solid lightgray;
        padding: 2rem;
        overflow-x: hidden;
        overflow-y: auto;

        &-title {
            font-size: 1rem;
            text-align: center;
        }

        &-row {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            width: 100%;
            align-items: flex-end;
        }

        &-col {
            display: flex;
            flex-direction: column;
            width: 50%;
            gap: .8rem;
        }

        &-image {
            max-height: 5rem;
            max-width: 8rem;
            border-radius: .4rem;
            transition: .4s;

            &:hover {
                max-height: 12rem;
                max-width: 18rem;
            }
        }

        &-timeselect {
            display: flex;
            flex-direction: row;
            align-items: center;
            // gap: 1rem;

            input {
                width: 50%;
            }
        }

        &-btns {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            align-items: center;
            margin-top: 2rem;
        }
    }

}

.show-sidebar {
    transform: translateX(0%);
    opacity: 1;
    transition: .5s;
}

.hide-sidebar {
    transform: translateX(100%);
    opacity: 0;
    transition: .5s;
}

@media only screen and (max-width: 640px) {
    .booking {
        &__row {
            flex-direction: column;
            width: 80vw
        }

        &__col {
            flex-direction: column;
            width: 80vw
        }

        &__btns {
            flex-direction: column;
        }

        &__sidebar-event {
            width: 80vw;
            position: absolute;
            background-color: #fff;
            // z-index: 3;
            margin-top: 0;
            &-row{
                flex-direction: column;
            }
        }    
    }
}