.header {
    &__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        width: 100%;
        height: 10vh;
        background: white;
        z-index: 3;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.124);
        border-bottom: 1px solid rgba(128, 128, 128, 0.186);
        opacity: 0;
        animation: fade-in-down 1s ease-in forwards;
    }

    &__col {
        display: flex;
        flex-direction: column;
        margin: 1rem 1.5rem;
    }

    &__logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        cursor: pointer;

        &:hover .header__logo-text {
            filter: brightness(110%);
            transform: translateX(1%);
        }

        &-text {
            height: 2rem;
            line-height: 2rem;
            transition: .5s;
            font-size: 2rem;
            color: #6575A8;
        }

        &-img-iso {
            height: 3.5rem;
            transition: .2s;

            &:hover {
                filter: invert(75%) sepia(38%) saturate(401%) hue-rotate(322deg) brightness(98%) contrast(90%);
            }
        }
    }

    &__nav {}

    &__menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.5rem;

        &-item {
            text-decoration: none;
            color: #F7A072;
            transition: .3s;
            cursor: pointer;
            position: relative;
            padding: .3rem 0;

            &::after {
                content: '';
                position: absolute;
                width: 100%;
                transform: scaleX(0);
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: #F7A072;
                transform-origin: bottom right;
                transition: transform 0.4s ease-out;
            }

            &:hover::after {
                transform: scaleX(1);
                transform-origin: bottom left;
            }
        }

        &-account {
            position: relative;

            &-svg {
                height: 2rem;
                filter: invert(47%) sepia(14%) saturate(1298%) hue-rotate(188deg) brightness(93%) contrast(86%);
                cursor: pointer;

                &:hover {
                    opacity: .7;
                }
            }

            &-item {
                cursor: pointer;
                transition: .2s;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1rem;

                &-text {
                    font-size: 1rem;
                    color: #6575A8;
                    margin: .8rem 0;
                }

                &-svg {
                    height: 1.5rem;
                    filter: invert(47%) sepia(14%) saturate(1298%) hue-rotate(188deg) brightness(93%) contrast(86%);
                }

                &:hover {
                    opacity: .7;
                    transform: translateX(1%);
                }
            }

            &-drop {
                top: 10vh;
                right: 0;
                position: absolute;
                display: flex;
                flex-direction: column;
                background-color: white;
                animation: fade-out-menu .5s ease-in forwards;
                box-shadow: -17px 26px 76px -48px rgba(0, 0, 0, 0.75);

                &-list {
                    padding: 0;
                    margin: 1rem 2rem;
                    width: fit-content;
                }

                &--toggled {
                    top: 10vh;
                    right: 0;
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    background-color: white;
                    animation: fade-in-menu .5s ease-in forwards;
                    box-shadow: -17px 26px 76px -48px rgba(0, 0, 0, 0.75);
                }
            }
        }

        &-svg {
            height: 2rem;
            filter: invert(49%) sepia(14%) saturate(1444%) hue-rotate(188deg) brightness(89%) contrast(77%);
        }

        &-sidebar {
            position: fixed;
            transform: translateX(150%);
            transition: .4s;
            width: 60vw;
            height: 100vh;
            right: 0;
            top: 0;
            background-color: white;
            margin-top: 10vh;
            border-left: 1px solid lightgray;

            &--togled {
                position: fixed;
                transform: translateX(0);
                width: 60vw;
                transition: .4s;
                right: 0;
                top: 0;
                height: 100vh;
                background-color: white;
                margin-top: 10vh;
                border-left: 1px solid lightgray;
            }
        }
    }
}


@media only screen and (max-width: 640px) {
    .header {
        &__menu {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.2rem;
            padding: 0 !important;
            margin-top: 2rem;
        }

        &__logo {
            &-text {
                font-size: 1rem;
            }

            &-img-iso {
                height: 2rem;
            }
        }
    }
}