@keyframes fade-in-out {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-out-up {
    0% {
        opacity: 1;
        transform: translateY(0%);
    }

    100% {
        opacity: 0;
        transform: translateY(-30%);
    }
}

@keyframes fade-in-down {
    0% {
        opacity: 0;
        transform: translateY(-30%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes fade-in-up {
    0% {
        opacity: 0;
        transform: translateY(20%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes fade-in-down-event {
    0% {
        opacity: 0;
        transform: translateY(-70%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes slide-down {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes fade-in-right {
    0% {
        opacity: 0;
        transform: translateX(-10%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes fade-in-left {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}


@keyframes fade-in-whatsapp {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes popup-chat {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}



@keyframes shake-up-down {
    0% {
        transform: translateY(-35%);
    }

    50% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-35%);
    }
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    75% {
        transform: scale(1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes loading-placeholder {
    to {
        background-position-x: -200%;
    }
}

@keyframes close-animation {
    0% {
        opacity: 1;
        transform: translateY(0%);
    }

    100% {
        opacity: 0;
        transform: translateY(-10%);
    }
}

@keyframes bg-in-out {
    0% {
        background-color: rgba(0, 128, 0, 0);
    }

    25% {
        background-color: rgba(0, 128, 0, 0.261);
    }

    60% {
        background-color: rgba(0, 128, 0, 0.261);
    }

    100% {
        background-color: rgba(0, 128, 0, 0);
    }
}

@keyframes fade-in-menu {
    0% {
        display: block;
        opacity: 0;
        top: 10vh;
        transform: translateX(100%);
    }

    50% {
        display: block;
        opacity: 0;
        top: 10vh;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes fade-out-menu {
    0% {
        opacity: 1;
        transform: translateX(0%);
    }

    50% {
        opacity: 1;
        transform: translateX(0%);
    }

    99% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 0;
        transform: translateX(100%);
        display: none;
    }
}

.scroll-item {
    opacity: 0;
}

.appear-down {
    animation: fade-in-down 2s forwards;
    animation-delay: .5s;
}

.disappear {
    animation: fade-out-up 1s forwards;
    animation-delay: 0 !important;
}